.social-network-button {
  display: inline-block;
  padding: 3px 6px 0 4px;
  margin: 0 0 4px 0;
  width: auto;
  height: 22px;
  border-radius: 3px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  -moz-user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
}
.social-network-button img {
  border: 0;
  height: 14px;
  vertical-align: text-top;
  margin: 0 6px 0 2px;
  padding: 0 0 2px 0;
}
.social-network-button:hover {
  background: #365899;
  border: 1px solid #365899;
}
.social-network-button span {
  font-weight: normal;
}
