<IfModule mod_headers.c>
  SetEnvIf Origin "^http(s)?://(.+\.)?(app\.directdemocracy\.vote|app-1\.directdemocracy\.vote)$" origin_is=$0
  Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
</IfModule>
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"
